/* REMINDER! All of your elements must use your unique namespace '.budget' at the start to avoid leaking */

.budget {
  display: flex;
  width: 100%;
  height: 100%;
}

.budget .body-content-container {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    background-color: white;
    padding: 1rem;
    box-shadow: 0rem 0.2rem 0.1rem rgba(162, 162, 162, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 40rem;
    min-height: 30rem;
  }
  